# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Docker volumes (logs/data if you don't want to commit)
broker/data/
broker/log/

# sink data
backend/mqtt_store/
devmin/data/

# license
license/licenses_history.json
license/priv.pem

# TLS (dev/self-signed)
certs/*.crt
certs/*.key
certs/*.pem
!certs/SCRoot2ca.cer
!certs/*.cer
broker/config/passwordfile
