# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Docker volumes (logs/data if you don't want to commit)
mosquitto/data/
mosquitto/log/

# sink data
app/mqtt_store/
devmin/data/

# license
license/licenses_history.json
license/priv.pem

# TLS (dev/self-signed)
certs/*.crt
certs/*.key
certs/*.pem
mosquitto/config/passwordfile
